# Compiled binaries and build output
# Ignore the default executable name created by 'go build'
testify
testify.exe

# Ignore the distribution directory created by our build script
/dist

# Ignore all other .exe files just in case
*.exe

# Go-specific files
# Ignore the vendored dependencies directory
/vendor/

# Ignore test coverage and profiling files
*.out
*.prof

# Environment variables
# These are good practice to keep, even if not used directly by the app,
# as a developer might use a .env file for local testing.
.env
.env.*
!/.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific
.idea
.vscode/

# OS specific
.DS_Store
Thumbs.db
